# env files
.env
*.env

# local env files
.env*.local

# xml files
*.xml

# csv files
*.csv

# venv files
*venv/
*venv_*

# python cache files
__pycache__/

# python version
.python-version

# mathlib
mathlib4/